<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Calendoola</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'caleweb/img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'caleweb/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'caleweb/css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded" rel="stylesheet">
</head>


<body>

{% include 'caleweb/includes/header.html' %}
{% block content %} {% endblock %}

<script src="{% static 'caleweb/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'caleweb/js/bootstrap.min.js' %}"></script>
</body>
</html>
