{% extends 'caleweb/index.html' %}
{% load humanize %}
{% block content %}
    <div class="instances_container">
        {% for plan in plans %}
            <div class="task-preview">
                <div class="task-preview_info">

                    <a href="/plans/{{ plan.id }}">{{ plan.info }}</a>
                </div>
                <div class="task-preview_deadline">

                    <a href="{% url 'remove_plan' plan.id %}" class="task_preview_btn-delete">delete</a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}