{% extends 'caleweb/base.html' %}
{% load humanize %}
{% load tags_display_filter %}
{% block content %}
    <div class="form-wrapper">
        <h1>{{ reminder }}</h1>
        <hr>
        {% for task in reminder.tasks.all %}
            <div class="btn-group" style="width: 100%;margin-bottom: 1%;">
                <button style="width: 100%; " class="btn btn-sm">{{ task.info|slice:':40' }}</button>
                <a href="{% url 'reminders:detach-task' pk=reminder.pk task=task.pk %}"
                   class="btn bg-danger btn-sm"><i
                        class="fas fa-trash-alt white"
                        style="color: #e6e7e8"></i></a>
            </div>
            {% empty %}
            <h1> No tasks</h1>
        {% endfor %}
        <hr>
        <div class="d-flex flex-direction-column align-items-stretch justify-content-between">
            <a style="width: 100%; color: white;" href="{% url 'reminders:add-task' reminder.pk %}" class="btn bg-info">
                Add task</a>
            <a style="width: 100%; color: white;" href="{% url 'reminders:edit' reminder.pk %}" class="btn btn-warning ">Edit</a>
            <a style="width: 100%;" href="{% url 'reminders:remove' reminder.pk %}" class="btn btn-danger ">Delete</a>
        </div>
    </div>

{% endblock %}