{% extends 'caleweb/base.html' %}
{% load humanize %}
{% block content %}
    <div style="width: 30%; background: lightblue;">
        <h1 style="  word-wrap: break-word;">{{ task.info }}</h1>
        <hr>
        <h3>Priority: {{ task.priority }}</h3>
        <h3>Created: {{ task.created_at }}</h3>
        <h3>Last update: {{ task.updated_at }}</h3>

        <h3>Deadline: {{ task.deadline|default:"No deadline" }}</h3>
        <h3>Status: {{ task.status }}</h3>
        <h3>Tags:
            {% for tag in task.tags %}
                {{ tag }}
                {% empty %}
                No tags
            {% endfor %}
        </h3>
        {% if subtasks|length > 0 %}
            <h3>Subtasks:
                {% for sub in subtasks %}
                    {{ sub }};
                {% endfor %}
            </h3>
        {% endif %}

        <a href="{% url 'edit_task' task.pk %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'remove_task' task.pk %}" class="btn btn-light">delete</a>
        {% if task.status != 'FINISHED' %}
            <a href="{% url 'finish_task' task.pk %}" class="btn btn-success">Finish</a>
        {% else %}
            <a href="{% url 'unfinish_task' task.pk %}" class="btn btn-success">UNFINISH</a>
        {% endif %}
        <a class="btn btn-primary">Share</a>
        <a class="btn btn-dark">Move</a>
    </div>
{% endblock %}