{% extends 'caleweb/base.html' %}
{% load humanize %}
{% block content %}
    <div class="d-flex flex-wrap card-group">
        {% for task in tasks %}
            <div class="flex-fill p-2">
                <div class="card-face">
                    <div class="front">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="text-center">Priority {{ task.priority }}</h5>
                            </div>
                            <div class="card-body">
                                {{ task.info|slice:':40' }}{% if task.info|length > 40 %}...{% endif %}
                            </div>
                            <div class="card-footer" style="text-align: center">
                                {{ task.deadline|default:'No deadline' }}
                            </div>
                            <small class="text-muted offset-1">{{ task.created_at }}</small>
                        </div>
                    </div>
                    <div class="back">
                        <a href="{% url 'task-detail' task.pk %}" class="btn btn-primary">Details</a>
                        <a href="{% url 'share-task' task.pk %}" class="btn btn-warning">Share</a>
                        {% if task.status != 'FINISHED' %}
                            <a href="{% url 'finish-task' task.pk %}" class="btn btn-success">Finish</a>
                        {% else %}
                            <a href="{% url 'restore-task' task.pk %}" class="btn btn-success">Restore</a>
                        {% endif %}
                        <a href="{% url 'remove-task' task.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1 class="display-3">No Tasks</h1>
        {% endfor %}
    </div>
{% endblock %}
