<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage' %}"
       style="font-family: 'BioRhyme Expanded', serif;"><b>Calendoola</b></a>
    {% if request.path != '/login/' and  request.path != '/signup/' %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% ifequal request.path '/tasks/' %}active{% endifequal %}"
                       href="{% url 'tasks' %}">Tasks <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% ifequal request.path '/plans/' %}active{% endifequal %}"
                       href="{% url 'plans' %}">Plans
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link {% if 'new' in request.path %}active{% endif %}"
                           style="cursor: pointer;" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus-circle"></i> Add
                        </a>
                        <div class="dropdown-menu" style="background-color: #343a40;">
                            <a href="{% url 'new-task' %}" class="btn" style="text-decoration: #000000;  color: white;"><i
                                    class="fas fa-thumbtack"></i> Task</a>
                            <a href="{% url 'new-plan' %}" class="btn"
                               style="text-decoration: #000000; color: white;"><i
                                    class="fas fa-tasks"></i> Plan</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" style="margin-left: 20rem">
                    <form class="form-inline" action="{% url 'search-tasks' %}" method="get"
                          accept-charset="utf-8">
                        <div class="form-group">
                            <label>
                                <input name="data" class="form-control" type="text" style="width: 30rem;"
                                       placeholder="Search task by tags or description">
                            </label>
                            <input class="btn" type="submit" value="Search">
                        </div>
                    </form>
                </li>
            </ul>
            {% if 'tasks' in request.path %}
                <div class="dropdown" style="margin-right: 5%">
                    <button class="btn text-center" type="button" data-toggle="dropdown">
                        Order by
                    </button>
                    <div class="dropdown-menu" style="padding: 0; margin: 0">
                        <div class="btn-group" style="width: 100%">
                            <p class="nav-link" style="margin: 0; width: 100%">Priority</p>
                            <a href="{% url 'tasks' %}?order=priority&vec=asc" class=" btn fas fa-chevron-up"></a>
                            <a href="{% url 'tasks' %}?order=priority&vec=desc" class="btn fas fa-chevron-down"></a>
                        </div>
                        <div class="btn-group" style="width: 100%">
                            <p class="nav-link" style="margin: 0">Deadline</p>
                            <a href="{% url 'tasks' %}?order=deadline&vec=asc" class=" btn fas fa-chevron-up"></a>
                            <a href="{% url 'tasks' %}?order=deadline&vec=desc" class="btn fas fa-chevron-down"></a>
                        </div>
                    </div>
                </div>
                </div>
            {% endif %}
        <div class="dropdown">
            <button class="btn btn-secondary text-center" type="button" data-toggle="dropdown">
                {{ request.user.username|upper }}
            </button>
            <div class="dropdown-menu"
                 style="background-color: #343a40; left: auto; right: -20px;  border-radius: 20px">
                <a style="color: white;" class="nav-link text-center" href="{% url 'archive' %}">Archive</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'logout' %}" class="nav-link text-center" style="color: white;">Exit</a>

            </div>
        </div>
        </div>
    {% endif %}
</nav>
