{% extends 'caleweb/index.html' %}
{% load humanize %}
{% block content %}
    <div>
        <h1>{{ task.info }}</h1>
        <h3>Priority: {{ task.priority }}</h3>
        <h3>Created at: {{ task.created_at }}</h3>
        <h3>Deadline: {{ task.deadline }}</h3>
        <h3>Status: {{ task.status }}</h3>
        <a href="{% url 'edit_task' task.pk %}" class="btn btn-warning" style="display: block">Edit</a>
        <a href="{% url 'remove_task' task.pk %}" class="btn btn-light" style="display: block">delete</a>
        {% if task.status != 'FINISHED' %}
            <a href="{% url 'finish_task' task.pk %}" class="btn btn-success" style="display: block">Finish</a>
        {% else %}
            <a href="{% url 'unfinish_task' task.pk %}" class="btn btn-success" style="display: block">UNFINISH</a>
        {% endif %}
        <a class="btn btn-primary" style="display: block">Share</a>
    </div>
{% endblock %}