{% extends 'caleweb/index.html' %}
{% load humanize %}
{% block content %}
    <div class="instances_container">
        {% for task in tasks %}
            <div class="preview">
                <div>
                    <div>
                        <a class="text-dark" href="{% url 'task' task.id %}">{{ task.info }}</a>
                    </div>
                    <div>
                        {{ task.created_at|naturaltime }}
                    </div>
                </div>
                <div>
                    <div>
                        {% if task.deadline %}
                            {{ task.deadline|naturaltime }}
                        {% else %}
                            No deadline
                        {% endif %}
                    </div>
                    <div>
                        <a href="{% url 'remove_task' task.pk %}"
                           class="text-white btn btn-sm btn-light preview_btn-delete bg-dark">delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}