{% extends 'caleweb/index.html' %}
{% load humanize %}
{% block content %}
    <div class="instances_container">
        {% for task in tasks %}
            <div class="preview">
                <div>
                    <div>
                        <a class="text-dark" href="{% url 'task-detail' task.id %}">{{ task.info }}</a>
                    </div>
                    <div>
                        {{ task.created_at }}
                    </div>
                </div>
                <div>
                    <div>
                        {{ task.deadline|default:'No deadline' }}
                    </div>
                    <div>
                        <a href="{% url 'remove_task' task.pk %}"
                           class="text-white btn btn-sm btn-light preview_btn-delete bg-dark">delete</a>
                    </div>
                </div>
            </div>

            {% empty %}
            <h3>No tasks</h3>
        {% endfor %}
    </div>
{% endblock %}